// ==============================
// Custom style
// 自定义样式
// ==============================

// Small changes to the size and padding of the home avatar.
.home {
  
  .home-titlesub {
      font-size: 1rem;
      font-weight: bold;
      margin: 0;
      padding-bottom: .25rem;
    }
    
  .home-profile {

    .home-avatar {
      padding: 1rem;

      img {
        display: inline-block;
        width: 12rem;
        height: auto;
        margin: 0 auto;

      }
    }
  }
}

// Changed the margin on the header a bit
.header-title {
  margin-left: .5rem;
  font-weight: normal;
}

.header-title-pre{
  margin-right: .25rem;
}


.handwriting{
 font-family: $header-title-font-family; 
 font-size: 1.5rem;
}

.signature{
 font-family: $header-title-font-family; 
 font-size: 1.5rem;
 float: right;
}
